:root {
    --whiteish: #eee;
}

html {
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url('./images/srv.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
}

.title {
    text-align: center;
    position: absolute;
    color: var(--whiteish);
    width: 100%;
}

.title h1 {
    font-size: 5rem;
    text-shadow: 5px 5px 15px rgb(33, 33, 33);
}

.subtitle {
    font-size: 2rem;
    margin-top: 1em;
    background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 600% 600%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 43% 0%
    }

    50% {
        background-position: 58% 100%
    }

    100% {
        background-position: 43% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 43% 0%
    }

    50% {
        background-position: 58% 100%
    }

    100% {
        background-position: 43% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 43% 0%
    }

    50% {
        background-position: 58% 100%
    }

    100% {
        background-position: 43% 0%
    }
}

/* background-image: linear-gradient(to right top, #918a68, #6a7a61, #4d685d, #3d5354, #343f44); */